@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

html{
    scroll-behavior: smooth;
}

#top{
    scroll-behavior: smooth;
}

.hero-section{
    height: 100vh;
}

.nav-menu{
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
}


.nav-menu a, h1 {
    text-decoration: none;
    font-family: inherit;
    color: black;
}

.nav-menu .right{
    display: flex;
    align-items: center;
}

.right a{
    margin-left: 3rem;
    font-size: 14px;
}

.right .cssHover{
    padding: .5rem 2rem;
    border-radius: 4px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    outline: none;
    background: none;
    text-align: center;
    display: inline-block;
}


.cssHover::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 160px;
    border-radius: 50%;
    top: 100%;
    left: -30px;
    transition: .5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.cssHover:hover{
    color: rgb(255, 255, 255);
}

.cssHover:hover::before{
    top: -50px;
}

.cssHover{
    color: rgb(51, 51, 51);
    border: 2px solid rgb(51, 51, 51);
}

.cssHover::before{
    background: rgb(51, 51, 51);
}

.hero-image{
    background-image: url(images/anatomybackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 88.7vh;
    color: white;
    border: 1px solid gray;
}

.hero-image .bio{
    font-size: 1rem;
}

.hero-image .topic{
    margin-top: -10px;
    font-weight: 900;
    font-size: 4rem;
    color: white;
}

.container-left{
    margin-top: 12rem;
    width: 25rem;
    margin-left: 7rem;
}


.left-right{
    background-color: white;
}

.left-right h1 {
    filter: drop-shadow(0px 1px 1px #000000);
    color: black;
    text-align: center;
    font-weight: 900;
}

.left-right .container{
    display: flex;
    padding: 1rem 5rem;
    gap: 5rem;
}

.left img{
    object-fit: cover;
    height: 300px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

.topic-one{
    background-color: #EAEAEA;
}


.topic-one .left-text, .topic-two .left-text{
    display: flex;
    padding: 4rem;
    justify-content: center;
    gap: 5rem;
}

.left-text .left h1{
    font-weight: 900;
    filter: drop-shadow(0px 1px 1px #000000);
}

.left-text .right img{
    height: 350px;
    width: 400px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.up-next{
    height: 200px;
    background-image: url(images/bacteria.png);
    background-size: cover;
    object-fit: cover;
    border: 1px solid transparent;
}

.up-next h1, a{
    color: white;
}

.up-next .container{
    display: flex;
    margin-top: 2.3rem;
    align-items: center;
    margin-left: 7rem;
    gap: 1rem;
}

.container h1{
    font-size: 3rem;
}


.up-next a{
    z-index: 1;
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 10px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    outline: none;
    background: none;
    text-align: center;
    display: inline-block;
}

.up-next a::before{
    content: "";
    position: absolute;
    z-index: -1;
    height: 200px;
    width: 310px;
    border-radius: 50%;
    top: 100%;
    left: -30px;
    transition: .5s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.up-next a:hover{
    color: rgb(0, 0, 0);
}

.up-next a:hover::before{
    top: -50px;
}

.up-next a{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

.up-next a::before{
    background: rgb(255, 255, 255);
}


.footer{
    color: white;
    text-align: center;
    border: 1px solid #1F1F1F;
    background-color: #1F1F1F;
    font-size: 12px;
}